services:
  my-application:
    build:
      context: ..
      dockerfile: infra/Dockerfile
    ports:
      - "8080:8080"
    networks:
      - desafio-itau

  prometheus:
    image: prom/prometheus:latest
    ports:
      - "9090:9090"
    networks:
      - desafio-itau
    volumes:
      - ./prometheus.yml:/etc/prometheus/prometheus.yml:ro
      - prometheus_data:/prometheus
    command:
      - '--config.file=/etc/prometheus/prometheus.yml'
      - '--storage.tsdb.path=/prometheus'

  grafana:
    image: grafana/grafana:latest
    ports:
      - "3000:3000"
    networks:
      - desafio-itau
    volumes:
      - grafana_data:/var/lib/grafana

networks:
  desafio-itau:

volumes:
  grafana_data:
  prometheus_data: